include mixin/lorem
doctype html
html(lang="en")
	head
		title Play With Instagram API
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='javascripts/loader.js')
	body
		h1 Play With Instagram API
		p
			+lipsum(12, "paragraphs")
		
		#datas